<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="./css/ifram.css" rel="stylesheet"> -->

  </head>
  <body>
    <iframe id="frame" class="ifram-style" src="http://localhost:5000/result" scrolling="no" style="border: none; width: 500px; height: 600px; position: fixed; bottom: 20px; right: 20px; "></iframe>
    <!-- <iframe src="https://sg.libraryh3lp.com/chat/my-queue-name@chat.sg.libraryh3lp.com?skin=123456" frameborder="1" style="border: 2px inset black; width: 350px; height: 300px;"></iframe>
    <iframe src="http://b-ok.org/"></iframe> -->
  </body>
</html>